# Virtual Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env
.envrc
!.env.example

# Python
__pycache__/
*.py[codz]
*$py.class
*.pyo
*.pyd
*.so

# Build / Distribution
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing / Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.cache
coverage.xml
nosetests.xml
.hypothesis/

# Type Checkers
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Jupyter
.ipynb_checkpoints

# Logs
*.log
logs/*.log

# Databases
*.db
db.sqlite3
db.sqlite3-journal

# Streamlit
.streamlit/secrets.toml

# Project Data
data/raw/*
data/processed/*

# Documentation
docs/_build/

# OS
.DS_Store
Thumbs.db

# Temporary
tempCodeRunnerFile.py