# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Logs
logs/*.log

# Data
data/raw/*
data/processed/*

# Database
*.db

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db